.weather-container {
  width: 600px;
  overflow: hidden;  
}

.weather-detail {
  height: 200px;
  list-style-type: none;
  transition: transform .5s;
}

.weather-detail__card {
  background-color: #f2f2f2;
  width: 600px;
  height: 100%;
  display: inline-block;
}