.weather-detail {
  width: 600px;
  height: 200px;
  overflow: hidden;  
}

.weather-detail__list {
  width: 600px;
  overflow: hidden;
  height: 100%;
  list-style-type: none;
  transition: transform .5s;
}

.weather-detail__list-item {
  background-color: #f2f2f2;
  width: 600px;
  height: 100%;
  display: inline-block;
}