.weather-app-container {
  display: flex;
    padding: 10px 0;
    width: 650px;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);    
    border-radius: 10px;
}

.weather-app-container__loading {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}