.current-weather {
  display: flex;
  align-items: center;
}

.current-weather__icon {
  display: flex;
  align-items: center;
}

.current-weather__icon img {
  width: 100px;
}

.current-weather__temp {
  font-size: 70px;
  color: #737373;
}