.weather-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  height: 100px;
  box-sizing: border-box;
  padding: 10px 0;
}

.weather-header__spinner {
  margin: 0 50px;
}